* {
    margin: 0;
  }

  body {
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
}

  .love-care-mili-logo {
    position: fixed; 
    border: none;
    top: 92.6%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 190px;
    height: 153px;
  }