body.game {
  background-image: url('../assets/imgs/common/bg-striped-blue.svg');
}

#memory-game-logo-2 {
  top: 20%;
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%);

  width: 931px;
  height: 760px;
}

#owl {
  position: absolute;
  left: 10%;
  bottom: 0;
}

#lion {
  position: absolute;
  right: 10%;
  bottom: 0;
}

#countdown {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 96px;
  color: #FFFFFF;
}

.board {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;

  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;

}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}