body.loss {
    background-image: url('../assets/imgs/common/bg-striped-pink.svg');
}

.msg-loss {
    position: absolute;
    width: 913px;
    height: 476px;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.button-play-again-loss {
    position: fixed; 
    top: 80.8%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.emoji-loss {
    background-image: url('../assets/imgs/common/crying-face.png');
    width: 244px;
    height: 244px;
    top: 30%;
    left: 35%;
    position: absolute;
}