body.win {
    background-image: url('../assets/imgs/common/bg-striped-green.svg');
}

.msg-win {
    position: absolute; 
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 913px;
    height: 476px;
}

#colorful-shapes {
    background-image: url('../assets/imgs/win/colorful-shapes.svg');
    position: absolute;
    width: 910px;
    height: 700px;
    left: 10%;
    top: 32%;
}

.button-play-again-win {
    position: fixed; 
    top: 73.8%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#emoji-win {
    top: 28%;
    left: 43%;
    position: absolute;
    scale: 175%;
}

.love-care-logo-win {
    position: fixed; 
    border: none;
    bottom: 0%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}