body.win {
    background-image: url('../assets/imgs/common/bg-striped-green.svg');
}

.msg-win {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 913px;
    height: 476px;
}

#colorful-shapes {
    background-image: url('../assets/imgs/win/colorful-shapes.svg');
    position: absolute;
    width: 915px;
    height: 911px;
    top: 30%;
}

.button-play-again-win {
    position: fixed; 
    top: 80.8%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.emoji-win {
    background-image: url('../assets/imgs/common/grinning-squinting-face.png');
    width: 244px;
    height: 244px;
    top: 30%;
    left: 35%;
    position: absolute;
}

.love-care-logo-win {
    position: fixed; 
    border: none;
    top: 92.6%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}